# prefer US English and use UTF-8.
export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"

# fix for pager and colours
export LESS="-erX"

# make vim the default editor
export EDITOR="vim"

# Golang defaults
export GOPATH="${HOME}/go"
export GOBIN="${GOPATH}/bin"

# default path
export PATH="${HOME}/.dotfiles/bin:${HOME}/.dotfiles/custom/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:${GOBIN}"

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1
export HOMEBREW_CASK_OPTS=--require-sha
