[user]
useconfigonly = true
name          = David Kuridža

[color]
diff   = auto
status = auto
branch = auto
ui     = true

[core]
autocrlf   = false
filemode   = false
editor     = vim
trustctime = false

[gui]
encoding = utf-8

[push]
default = nothing

[branch]
autosetupmerge = always

[alias]
db     = log --oneline --no-merges
dc     = diff --cached
co     = checkout
ci     = commit
cm     = commit -m
st     = status
br     = branch
lg     = !git log --graph --pretty='format:%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
slog   = log --oneline
rb     = rebase
rbc    = rebase --continue
rbi    = rebase -i
fap    = fetch --all --prune --progress
latest = for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(committerdate:iso8601)  %(refname:short)                        %(authorname)'
pushf  = push --force-with-lease

[commit]
gpgsign = true
